// globals.scss

// Import variables and mixins
@import "vars";
@import "mixins";
@import "typography";

// for an intro on how this works, see https://www.youtube.com/watch?v=c13gpBrnGEw&t=839s
.content-grid,
.full-width {
  --content-padding: 24px;
  display: grid;
  row-gap: 0;
  grid-template-columns:
    [full-width-start] minmax(var(--content-padding), 1fr)
    [content-start] min(
      calc(100% - (var(--content-padding) * 2)),
      calc($breakpoints-xxl + (var(--content-padding) * 2))
    )
    [content-end]
    minmax(var(--content-padding), 1fr) [full-width-end];

  > :not(.full-width) {
    grid-column: content;
  }

  > .full-width {
    grid-column: full-width;
  }

  @media screen and (max-width: $breakpoints-lg) {
    --content-padding: 16px;
  }
}

.disable-scroll {
  overflow: hidden;
}

// for screen reader only - hides elements from view
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100dvw;
  overflow-x: hidden;
}

// remove default styles
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

select {
  font-family: inherit;
}

.clearfix {
  @include clearfix();
}
