@use "@/styles/vars.scss" as vars;
@use "@/styles/mixins.scss" as mixins;

.carousel {
  &:global(.splide--draggable) {
    cursor: grab;
    &:active {
      cursor: grabbing;
    }
  }

  .carouselGrid {
    position: relative;
    @include mixins.grid-container;
    align-items: center;
  }

  :global(.splide__track) {
    z-index: 1;
    grid-column: 2 / 12;
  }

  :global(.splide__arrows) {
    position: absolute;
    width: 100%;
    height: 100%;
    @include mixins.grid-container;
    :global(.splide__arrow__wrapper) {
      width: 100%;
      height: 100%;
      cursor: default;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    :global(.splide__arrow__wrapper--prev) {
      grid-column: 1 / 2;
    }
    :global(.splide__arrow__wrapper--next) {
      grid-column: -2 / -1;
    }
    :global(.splide__arrow--prev) {
      transform: rotate(180deg);
    }
    :global(.splide__arrow) {
      &:disabled {
        pointer-events: none;
        opacity: 0.25;
      }
    }
  }

  :global(.splide__pagination) {
    margin-top: 16px;
    grid-column: 2/12;
    gap: 8px;
  }

  :global(.splide__pagination__page) {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1.5px solid black;
    &:global(.is-active) {
      background: black;
    }
  }
}
